* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  canvas {
    width: 800px;
    height: 400px;
    background: linear-gradient(180deg, #01003d, #402aa1);
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }