* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  canvas {
    width: 800px;
    height: 400px;
    background: linear-gradient(180deg, #01003d, #1b0092);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    text-align: center;
  }